@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

                <form method="post">
       <div class = "container log-in-form" style="margin-top: 10%;">
            <div class = "row justify-content-center align-items-center">
            <div class = "col-4 " style = "border: 2px solid grey; border-radius: 5px; padding: 20px;">
            
            <div class="label-for-form" >Recover password</div>
            <div class="log-in-up">
                <input type = "text" asp-for="Input.Email" autocomplete="email" aria-required="true" required>
                <label asp-for="Input.Email">Your email</label><br>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
             <button type="submit" class="w-100 btn btn-lg btn-secondary greyInput" style="margin-bottom: 20px;">Send email</button>
            <div class = "sign-in-up-link" >
                <p style = "margin-top:10px;" class = "text-muted fs-5 text-center">If you don't recieve the letter, check spam folder</p>
            </div>
             
             </div>
             </div>
        </div>
         </form> 


@*
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>
</html>