@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <div class ="container log-in-form">
        <div class = "row justify-content-center align-items-center">
            <div class = "col-4" style = "margin-top:200px; border: 2px solid grey; border-radius: 5px; padding: 20px;">
                <p class = "text-black fs-4 text-center">Please check your email to reset your password.</p>
            </div>
        </div>
    </div>
</body>
</html>