@page
@model ResetPasswordConfirmationModel
<div class ="container log-in-form">
    <div class = "row justify-content-center align-items-center">
        <div class = "col-4" style = "margin-top:200px; border: 2px solid grey; border-radius: 5px; padding: 20px;">
            <p class = "text-black fs-4 text-center">Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</p>
        </div>
    </div>
</div>