@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<form method="post">
    <div class = "container log-in-form" style="margin-top: 10%;">
        <div class = "row justify-content-center align-items-center">
            <div class = "col-4 " style = "border: 2px solid grey; border-radius: 5px; padding: 20px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="label-for-form" >Reset password</div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="log-in-up">
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" type="text" required>
                    <label asp-for="Input.Email">Your email</label><br>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="log-in-up"  >
                    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true"  required>
                    <label asp-for="Input.Password">Your password</label><br>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="log-in-up"  >
                    <input asp-for="Input.ConfirmPassword" autocomplete="current-password" aria-required="true"  required>
                    <label asp-for="Input.ConfirmPassword">Your password</label><br>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="loginSubmit" type="submit" class="w-100 btn btn-lg btn-secondary" style="margin-bottom: 20px;">Reset</button>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}