    @{
    ViewData["Title"] = "SignUp";
}


<header>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</header>
<body>
    @{
    if (ViewBag.Success == true)
    {
        <div class ="auth-error" style = "color:green">@ViewBag.Error</div>
    }
    else
    {
         <div class ="auth-error" style = "color:brown">@ViewBag.Error</div>
    }
    }

 <div class = "log-up-form">
     @using(Html.BeginForm("CheckInputData", "SignUp", FormMethod.Post)){
       @* <form method = "post" action = "/HomeController/Index">*@
            <div class=label-for-form>Sign up</div>

            <div class="log-in-up">
                <input type="text" id="login" name = "login" value =@ViewBag.login required >
                <label>Your login</label><br>
            </div>

            <div class="log-in-up" >
                <input type="password" id="password" name = "password" value=@ViewBag.password required>
                <label >Your password</label><br>
            </div>

            <div class="log-in-up" >
                <input type="password" id="password" name = "repassword" value=@ViewBag.repassword  required>
                <label >Repeat your password</label><br>
            </div>

            <div class="log-in-up" >
                <input type="text" id="password" name = "email" value=@ViewBag.email required>
                <label >Your email</label><br>
            </div>

            <div class="log-in-up" >
                <input type="text" id="password" name = "exteranlID" value=@ViewBag.externalId >
                <label >Create you Exteranl ID (optional)</label><br>
            </div>

            <input type="submit" value = "Sign Up">
          <div class = "sign-in-up-link">
            <a asp-controller="SignIn" asp-action="SignIn">Sign in</a>
        
            </div>
        @*</form>*@
        }
    </div>
    </body>