@{
    ViewData["Title"] = "FAQ";
}
<h1 >@ViewData["Title"]</h1>

<div class = "container border border-secondary rounded-3 border-2" style="padding: 20px" >
    <div class="row align-items-center ">
        <div class=" col">
            <div class = "row border-bottom border-2">
                <p class ="fs-3 text">How to sign in/sign up?</p>
                <p class = "fs-5 text">To create profile or log in with existing one you sholud click "Sign in" or "Sign up" button on main page.
                     We do not share your email with anybody.<br></p>
            </div>
            <div class = "row border-bottom border-2">
                <p class ="fs-3 text">How to add a note?</p>
                <p class = "fs-5 text">To add a note you should sign in and click on "Any new dreams?" area.<br></p>
            </div>
            <div class = "row border-bottom border-2">
                <p class ="fs-3 text">Howt can I share a note with somebody?</p>
                <p class = "fs-5 text">To share note you can click "Make this publication public button" while creating note.
                    After this, your note can be reached by everyone by url. To get url, you can click on your notes name and it will be opened on new page.<br></p>
            </div>
        </div>
    </div>
</div>

