    @{
    ViewData["Title"] = "SignUp";
}

<header>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</header>
<body>
 <div class = "log-up-form">
     @using(Html.BeginForm("CheckInputData", "SignUp", FormMethod.Post)){
       @* <form method = "post" action = "/HomeController/Index">*@
            <div class=label-for-form>Sign up</div>

            <div class="log-in-up">
                <input type="text" id="login" name = "login" >
                <label>Your login</label><br>
            </div>

            <div class="log-in-up" >
                <input type="password" id="password" name = "password" >
                <label >Your password</label><br>
            </div>

            <div class="log-in-up" >
                <input type="password" id="password" name = "repassword" >
                <label >Repeat your password</label><br>
            </div>

            <div class="log-in-up" >
                <input type="text" id="password" name = "email" >
                <label >Your email</label><br>
            </div>

            <div class="log-in-up" >
                <input type="text" id="password" name = "exteranlID" >
                <label >Create you Exteranl ID (optional)</label><br>
            </div>

            <input type="submit" value = "Sign Up">
          <div class = "sign-in-up-link">
            <a asp-controller="Home" asp-action="SignIn">Sign in</a>
        
            </div>
        @*</form>*@
        }
    </div>
    </body>